*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

.login-container{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#2563eb,#60a5fa);
}

.login-card{

    width:420px;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.login-header{

    text-align:center;

    margin-bottom:30px;
}

.login-icon{

    font-size:70px;

    color:#2563eb;

    margin-bottom:10px;
}

.login-header h2{

    color:#1e3a8a;

    margin-bottom:8px;
}

.login-header p{

    color:#777;
}

.input-group{

    margin-bottom:20px;
}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;
}

.input-group input{

    width:100%;

    padding:14px;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;

    transition:.3s;
}

.input-group input:focus{

    border-color:#2563eb;
}

.login-btn{

    width:100%;

    padding:14px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

    transition:.3s;
}

.login-btn:hover{

    background:#1d4ed8;
}

.register-link{

    margin-top:20px;

    text-align:center;
}

.register-link a{

    color:#2563eb;

    text-decoration:none;

    font-weight:bold;

    margin-left:6px;
}

.register-link a:hover{

    text-decoration:underline;
}